keycloak:
  replicas: 1
  image:
    repository: quay.io/keycloak/keycloak
    tag: "24.0"
  command:
    - "/opt/keycloak/bin/kc.sh"
    - "start"
    - "--http-enabled=true"
    - "--http-port=8080"
    - "--hostname-strict=false"
    - "--hostname-strict-https=false"
    - "--health-enabled=true"
  startupProbe: |
    httpGet:
      path: /health/ready
      port: http
    initialDelaySeconds: 30
    periodSeconds: 5
    failureThreshold: 60
  livenessProbe: |
    httpGet:
      path: /health/live
      port: http
    initialDelaySeconds: 0
    periodSeconds: 10
    failureThreshold: 3
  readinessProbe: |
    httpGet:
      path: /health/ready
      port: http
    initialDelaySeconds: 0
    periodSeconds: 10
    failureThreshold: 3
  extraEnv: |
    - name: KC_HOSTNAME_URL
      value: https://auth-cloud-wallet.DOMAIN
    - name: KC_HOSTNAME_ADMIN_URL
      value: https://auth-cloud-wallet.DOMAIN
    - name: KEYCLOAK_ADMIN
      valueFrom:
        secretKeyRef:
          name: keycloak-init-secrets
          key: username
    - name: KEYCLOAK_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak-init-secrets
          key: admin-password
    - name: KC_DB
      value: postgres
    - name: KC_DB_URL
      value: jdbc:postgresql://postgres-rw.postgres.svc.cluster.local:5432/xfsc_keycloak
    - name: KC_DB_USERNAME
      value: xc_keycloak
    - name: KC_DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak-init-secrets
          key: password
  service:
    type: ClusterIP
    httpPort: 8080
  ingress:
    enabled: true
    ingressClassName: traefik
    rules:
      - host: auth-cloud-wallet.DOMAIN
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - auth-cloud-wallet.DOMAIN
        secretName: xfsc-wildcard
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
  postgresql:
    enabled: false
